name: flutter_hidden_drawer
description: Beautiful custom hidden drawer. Please press star in my repo if you like it. Thank you.
version: 0.1.5
homepage: https://github.com/robbyrahmana/flutter_hidden_drawer

environment:
  sdk: ">=2.3.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^4.0.5+1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: